    <% flash.each do |type, msg| %>
        <div class="<%= "alert alert-#{type}" %>" role="alert">
            <%= msg %>
        </div>
    <% end %>

<div class="content">
    <div class="row">
        <div class="col-sm-5 col-5">
            <h4 class="page-title">Importar / Exportar</h4>
        </div>
    </div>


    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget">
            <span class="dash-widget-bg2"><i class="far fa-user"></i></span>
            <div class="dash-widget-info text-right">
                <h3>1072</h3>
                <a href=<%= new_import_export_path %> class="btn btn-primary"><i class="fa fa-plus"></i>
                  <span class="widget-title2">Importar Pacientes <i class="fa fa-check" aria-hidden="true"></i></span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget">
            <span class="dash-widget-bg3"><i class="far fa-user"></i></span>
            <div class="dash-widget-info text-right">
                <h3>507</h3>
                <a href=<%= export_path %> class="btn btn-primary" style="background:#919da5;"><i class="fa fa-plus"></i>
                  <span class="widget-title3">Exportar Pacientes <i class="fa fa-check" aria-hidden="true"></i></span>
                </a>
            </div>
        </div>
    </div>
</div>
