    <% flash.each do |type, msg| %>
        <div class="<%= "alert alert-#{type}" %>" role="alert">
            <%= msg %>
        </div>
    <% end %>

<div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Importar Paciente</h4>
            </div>
        </div>
        <div class="row">
            <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <%= simple_form_for :patient, url: import_export_index_path do |f| %>

                    <%= f.text_area :first_name, class: "form-control", rows: 20 %>
                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn">Importar</button>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
