<div class="row">
	<div class="col-lg-8 offset-lg-2">
		<div class="form-group">
				<%= f.input(:name, label: "Nombre", required: true, class: "form-control") %>
		</div>
		<div class="form-group">
				<%= f.input(:description, label: "Descripcioón", required: true, class: "form-control") %>
		</div>
		<div class="form-group">
			<%= f.input(:active,
					label: "Estado",
					as: :radio_buttons,
					label_method: :last,
					collection: [[true, "Activo"], [false, "Inactivo"]],
					input_html: { checked: department.active? },
					class: "form-control form-check-input",
				)
			 %>
		</div>
	</div>
</div>
