            <div class="content">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Agregar Doctor</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Nombre <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Apellido</label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Usuario <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Email <span class="text-danger">*</span></label>
                                        <input class="form-control" type="email">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Contraseña</label>
                                        <input class="form-control" type="password">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Confirmar Contraseña</label>
                                        <input class="form-control" type="password">
                                    </div>
                                </div>
								<div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Fecha de nacimiento</label>
                                        <div class="cal-icon">
                                            <input type="text" class="form-control datetimepicker">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
									<div class="form-group gender-select">
										<label class="gen-label">Genero:</label>
										<div class="form-check-inline">
											<label class="form-check-label">
												<input type="radio" name="gender" class="form-check-input">Masculino
											</label>
										</div>
										<div class="form-check-inline">
											<label class="form-check-label">
												<input type="radio" name="gender" class="form-check-input">Femenino
											</label>
										</div>
									</div>
                                </div>
								<div class="col-sm-12">
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<label>Dirección</label>
												<input type="text" class="form-control ">
											</div>
										</div>
										<div class="col-sm-6 col-md-6 col-lg-3">
											<div class="form-group">
												<label>País</label>
												<select class="form-control select">
													<option>Argentina</option>
													<option>United Kingdom</option>
												</select>
											</div>
										</div>
										<div class="col-sm-6 col-md-6 col-lg-3">
											<div class="form-group">
												<label>Ciudad</label>
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="col-sm-6 col-md-6 col-lg-3">
											<div class="form-group">
												<label>Provincia</label>
												<select class="form-control select">
                                                    <option value="Buenos Aires">Bs. As.</option>
                                                    <option value="Catamarca">Catamarca</option>
                                                    <option value="Chaco">Chaco</option>
                                                    <option value="Chubut">Chubut</option>
                                                    <option value="Cordoba">Cordoba</option>
                                                    <option value="Corrientes">Corrientes</option>
                                                    <option value="Entre Rios">Entre Rios</option>
                                                    <option value="Formosa">Formosa</option>
                                                    <option value="Jujuy">Jujuy</option>
                                                    <option value="La Pampa">La Pampa</option>
                                                    <option value="La Rioja">La Rioja</option>
                                                    <option value="Mendoza">Mendoza</option>
                                                    <option value="Misiones">Misiones</option>
                                                    <option value="Neuquen">Neuquen</option>
                                                    <option value="Rio Negro">Rio Negro</option>
                                                    <option value="Salta">Salta</option>
                                                    <option value="San Juan">San Juan</option>
                                                    <option value="San Luis">San Luis</option>
                                                    <option value="Santa Cruz">Santa Cruz</option>
                                                    <option value="Santa Fe">Santa Fe</option>
                                                    <option value="Sgo. del Estero">Sgo. del Estero</option>
                                                    <option value="Tierra del Fuego">Tierra del Fuego</option>
                                                    <option value="Tucuman">Tucuman</option>
												</select>
											</div>
										</div>
										<div class="col-sm-6 col-md-6 col-lg-3">
											<div class="form-group">
												<label>Código Postal</label>
												<input type="text" class="form-control">
											</div>
										</div>
									</div>
								</div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Teléfono </label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-6">
									<div class="form-group">
										<label>Avatar</label>
										<div class="profile-upload">
											<div class="upload-img">
												<img alt="" src="<%= asset_url("user.jpg") %>">
											</div>
											<div class="upload-input">
												<input type="file" class="form-control">
											</div>
										</div>
									</div>
                                </div>
                            </div>
							<div class="form-group">
                                <label>Biografía</label>
                                <textarea class="form-control" rows="3" cols="30"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="display-block">Estado</label>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="status" id="doctor_active" value="option1" checked>
									<label class="form-check-label" for="doctor_active">
									Activo
									</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="status" id="doctor_inactive" value="option2">
									<label class="form-check-label" for="doctor_inactive">
									Inactivo
									</label>
								</div>
                            </div>
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn">Crear Doctor</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
			    </div>

           <script src="assets/js/jquery-3.2.1.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/select2.min.js"></script>
	<script src="assets/js/moment.min.js"></script>
	<script src="assets/js/bootstrap-datetimepicker.min.js"></script>
   <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-datetimepicker.min.css">


