    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Agregar Doctor</h4>
            </div>
        </div>
        <div class="row">
            <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <%= simple_form_for @doctor do |f| %>
                    <%= render "form", doctor: @doctor, f: f %>
                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn">Crear Doctor</button>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

